{% extends 'site/base.html' %}
{% load static %}
{% block content %}

<section id="feature_news_section" class="feature_news_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="feature_article_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive top_static_article_img"
                            src="{% static 'assets/img/feature-top.jpg' %}" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg red"><a href="category.html">Hot News</a></div>
                        <div class="feature_article_title">
                            <h1><a href="{{ hot_news.get_absolute_url }}" target="_self">{{ hot_news.title }}</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Stive Clark</a>,<a href="#"
                                target="_self">Aug
                                4, 2015</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            {{ hot_news.get_comment_count.post__id__count  }}.
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_article_wrapper -->

            </div>
            <!-- col-md-7 -->

            <div class="col-md-5">
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" src="{% static 'assets/img/feature-static1.jpg' %}"
                            alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg purple"><a href="category.html">Top Viewed</a></div>
                        <div class="feature_article_title">
                            <h1><a href="single.html" target="_self">Alcatel's $180 Idol 3 4.7 is a </a>
                            </h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Stive Clark</a>,<a href="#"
                                target="_self">Aug
                                4, 2015</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            In a move to address mounting concerns about security on Android...
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_static_wrapper -->

            </div>
            <!-- col-md-5 -->

            <div class="col-md-5">
                <div class="feature_static_last_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" src="{% static 'assets/img/feature-static2.jpg' %}"
                            alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg blue"><a href="category.html">Top Viewed</a></div>

                        <div class="feature_article_title">
                            <h1><a href="single.html" target="_self">Gadget user good news</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Stive Clark</a>,<a href="#"
                                target="_self">Aug
                                4, 2015</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            In a move to address mounting concerns about security on Android...
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_static_wrapper -->

            </div>
            <!-- col-md-5 -->

        </div>
        <!-- Row -->

    </div>
    <!-- container -->

</section>
<!-- Feature News Section -->

<section id="category_section" class="category_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="category_section mobile">

                    <!----article_title------>

                    {% for post_catalog_one in post_catalog_oned %}
                        {% if forloop.first %}
                        <div class="article_title header_purple">
                            <h2><a href="{{ post_catalog_one.thumbnail.url }}" target="_self">{{ post_catalog_one.category }}</a></h2>
                        </div>
                        <div class="category_article_wrapper">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="top_article_img">
                                    <a href="{{ post_catalog_one.get_absolute_url }}" target="_self"><img class="img-responsive"
                                            src="{{ post_catalog_one.thumbnail.url }}" alt="feature-top">
                                    </a>
                                </div>
                                <!----top_article_img------>
                            </div>
                            <div class="col-md-6">
                                <span class="tag purple">{{ post_catalog_one.category }}</span>

                                <div class="category_article_title">
                                    <h2><a href="{{ post_catalog_one.get_absolute_url }}" target="_self">{{ post_catalog_one.title }}. </a></h2>
                                </div>
                                <!----category_article_title------>
                                <div class="category_article_date"><a href="#">{{ post_catalog_one.timestamp|date:"j M Y" }}</a>, by: <a href="#">Eric
                                        joan</a></div>
                                <!----category_article_date------>
                                <div class="category_article_content">
                                    {{ post_catalog_one.description|truncatechars:100 }}.
                                </div>
                                <!----category_article_content------>
                                <div class="media_social">
                                    <span><a href="#"><i class="fa fa-share-alt"></i>424 </a>
                                        Shares</span>
                                    <span><i class="fa fa-comments-o"></i><a href="#">{{ post_catalog_one.get_comment_count }}</a>
                                        Comments</span>
                                </div>
                                <!----media_social------>
                            </div>
                        </div>
                    </div>
                        {% elif forloop.counter0 == 1  %}
                        <div class="category_article_wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ post_catalog_one.get_absolute_url }}"><img class="media-object" style="width: 122px; height: 122px;"
                                                    src="{{ post_catalog_one.thumbnail.url }}"
                                                    alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                                            <!-- <span class="tag purple">{{ post_catalog_one.category }}</span> -->

                                            <h3 class="media-heading"><a href="single.html" target="_self">{{ post_catalog_one.title }}</a></h3>
                                            <span class="media-date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric
                                                    joan</a></span>

                                            <div class="media_social">
                                                <span><a href="#"><i class="fa fa-share-alt"></i>424</a>
                                                    Shares</span>
                                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a>
                                                    Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% elif forloop.counter0 == 2  %}
                                <div class="col-md-6">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ post_catalog_one.get_absolute_url }}"><img class="media-object"  style="width: 122px; height: 122px;"
                                                    src="{{ post_catalog_one.thumbnail.url }}"
                                                    alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                                            <!-- <span class="tag purple">{{ post_catalog_one.category }}</span> -->

                                            <h3 class="media-heading"><a href="{{ post_catalog_one.get_absolute_url }}" target="_self">{{ post_catalog_one.title }}</a></h3>
                                            <span class="media-date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric
                                                    joan</a></span>

                                            <div class="media_social">
                                                <span><a href="#"><i class="fa fa-share-alt"></i>424</a>
                                                    Shares</span>
                                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a>
                                                    Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    <p class="divider"><a href="#">More News&nbsp;&raquo;</a></p>
                </div>
                <!-- Mobile News Section -->

                <div class="category_section tablet">
                    <!-- Mobile News Section -->

                    <div class="category_article_wrapper">
                        <div class="row">
                            {% for post_catalog_two in post_catalog_two %}
                            {% if forloop.first %}
                            <div class="article_title header_pink" style="margin-left:15px;margin-right:15px">
                                <h2><a href="{{ post_catalog_two.category.get_absolute_url }}" target="_self">{{ post_catalog_two.category }}</a></h2>
                            </div>
                            {% endif %}
                            <div class="col-md-6">
                                <div class="category_article_body">
                                    <div class="top_article_img">
                                        <a href="single.html" target="_self"><img class="img-responsive" style="width: 360px; height: 267px;"
                                                src="{{ post_catalog_two.thumbnail.url }}" alt="feature-top">
                                        </a>
                                    </div>
                                    <!-- top_article_img -->

                                    <span class="tag pink"><a href="category.html"
                                            target="_self">{{ post_catalog_two.category }}</a></span>

                                    <div class="category_article_title">
                                        <h2><a href="{{ post_catalog_two.get_absolute_url }}" target="_self">{{ post_catalog_two.title }} </a></h2>
                                    </div>
                                    <!-- category_article_title -->

                                    <div class="article_date"><a
                                            href="#">{{ post_catalog_two.timestamp|date:"j M Y" }}</a>, by: <a
                                            href="#">Eric joan</a>
                                    </div>
                                    <!----article_date------>
                                    <!-- article_date -->

                                    <div class="category_article_content">
                                        {{ post_catalog_two.description|truncatechars:100 }}.
                                    </div>
                                    <!-- category_article_content -->

                                    <div class="media_social">
                                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a>
                                            Shares</span>
                                        <span><i class="fa fa-comments-o"></i><a
                                                href="#">{{ post_catalog_two.get_comment_count }}</a>
                                            Comments</span>
                                    </div>
                                    <!-- media_social -->

                                </div>
                                <!-- category_article_body -->

                            </div>
                            <!-- col-md-6 -->
                            {% endfor %}
                        </div>
                        <!-- row -->

                    </div>
                    <!-- category_article_wrapper -->

                    <p class="divider"><a href="#">More News&nbsp;&raquo;</a></p>
                </div>
                <!-- Tablet News Section -->

                <div class="category_section gadget">
                    <div class="article_title header_black">
                        <h2><a href="category.html" target="_self">Gadgets</a></h2>
                    </div>
                    <div class="category_article_wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="category_article_body">
                                    <div class="top_article_img">
                                        <a href="single.html" target="_self">
                                            <img class="img-responsive" src="{% static 'assets/img/gad_top1.jpg' %}"
                                                alt="feature-top">
                                        </a>
                                    </div>
                                    <!-- top_article_img -->

                                    <span class="tag black"><a href="category.html" target="_self">Gadgets</a></span>

                                    <div class="category_article_title">
                                        <h2><a href="single.html" target="_self">A good news for gadget
                                                users Ds tech comming soon</a>
                                        </h2>
                                    </div>
                                    <!-- category_article_title -->

                                    <div class="article_date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                                    </div>
                                    <!----article_date------>
                                    <div class="category_article_content">
                                        Collaboratively administrate empowered markets via plug-and-play
                                        networks. Dynamically
                                        procrastinate B2C users after.
                                    </div>
                                    <!-- category_article_content -->

                                    <div class="media_social">
                                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a>
                                            Shares</span>
                                        <span><i class="fa fa-comments-o"></i><a href="#">4</a>
                                            Comments</span>
                                    </div>
                                    <!-- media_social -->

                                </div>
                                <!-- category_article_body -->

                                <div class="category_article_list">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img class="media-object"
                                                    src="{% static 'assets/img/cat-mobi-sm1.jpg' %}"
                                                    alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading"><a href="single.html" target="_self">Apple
                                                    launches photo-centric
                                                    wrist watch for Android</a></h3>
                                            <span class="media-date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric
                                                    joan</a></span>

                                            <div class="media_social">
                                                <span><a href="#"><i class="fa fa-share-alt"></i>424</a>
                                                    Shares</span>
                                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a>
                                                    Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img class="media-object"
                                                    src="{% static 'assets/img/cat-mobi-sm3.jpg' %}"
                                                    alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading"><a href="single.html" target="_self">Apple
                                                    launches photo-centric
                                                    wrist watch for Android</a></h3>
                                            <span class="media-date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric
                                                    joan</a></span>

                                            <div class="media_social">
                                                <span><a href="#"><i class="fa fa-share-alt"></i>424</a>
                                                    Shares</span>
                                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a>
                                                    Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- category_article_list -->

                            </div>
                            <!-- col-md-6 -->

                            <div class="col-md-6">
                                <div class="category_article_body">
                                    <div class="top_article_img">
                                        <img class="img-responsive" src="{% static 'assets/img/gad_top2.jpg' %}"
                                            alt="feature-top">
                                    </div>
                                    <!-- top_article_img -->

                                    <span class="tag black">Gadgets</span>

                                    <div class="category_article_title">
                                        <h2><a href="single.html" target="_self">Apple launches
                                                photo-centric app for iPads and Android
                                                tablets</a></h2>
                                    </div>
                                    <!-- category_article_title -->

                                    <div class="article_date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                                    </div>
                                    <!-- article_date -->

                                    <div class="category_article_content">
                                        Collaboratively administrate empowered markets via plug-and-play
                                        networks. Dynamically
                                        procrastinate B2C users after installed base benefits.
                                        Dramatically visualize customer directed
                                        convergence without revolutionary ROI.
                                    </div>
                                    <!-- category_article_content -->

                                    <div class="article_social">
                                        <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                                        <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
                                    </div>
                                    <!-- article_social -->

                                </div>
                                <!-- category_article_body -->
                            </div>
                        </div>
                        <!-- row -->

                    </div>
                    <!-- category_article_wrapper -->

                    <p class="divider"><a href="#">More News&nbsp;&raquo;</a></p>
                </div>
                <!-- Gadget News Section -->

                <div class="category_section camera">
 
                    <!-- article_title -->
                    {% for post_catalog_four in post_catalog_four %}
                    {% if forloop.first %}
                    <div class="article_title header_orange">
                        <h2><a href="{{ post_catalog_four.category.get_absolute_url }}" target="_self">{{ post_catalog_four.category }}</a></h2>
                    </div>
                    {% endif %}
                    <div class="category_article_wrapper">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="top_article_img">
                                    <a href="single.html" target="_self">
                                        <img class="img-responsive" src="{{ post_catalog_four.thumbnail.url }}"
                                            alt="feature-top">
                                    </a>
                                </div>
                                <!-- top_article_img -->

                            </div>
                            <div class="col-md-7">
                                <span class="tag orange">{{ post_catalog_four.category }} </span>

                                <div class="category_article_title">
                                    <h2><a href="{{ post_catalog_four.get_absolute_url }}" target="_self">{{ post_catalog_four.title }} </a></h2>
                                </div>
                                <!-- category_article_title -->

                                <div class="article_date"><a href="#">{{ post_catalog_four.timestamp|date:"j M Y" }}</a>, by: <a href="#">Eric joan</a>
                                </div>
                                <!----article_date------>
                                <!-- category_article_wrapper -->

                                <div class="category_article_content">
                                    {{ post_catalog_four.description|truncatechars:100 }}.
                                </div>
                                <!-- category_article_content -->

                                <div class="media_social">
                                    <span><a href="#"><i class="fa fa-share-alt"></i>424 </a>
                                        Shares</span>
                                    <span><i class="fa fa-comments-o"></i><a href="#">{{ post_catalog_four.get_comment_count }}</a>
                                        Comments</span>
                                </div>
                                <!-- media_social -->

                            </div>
                            <!-- col-md-7 -->

                        </div>
                        <!-- row -->

                    </div>
                    {% endfor %}
                    <!-- category_article_wrapper -->
                    <p class="divider"><a href="#">sdsMore News&nbsp;&raquo;</a></p>
                </div>
                <!-- Camera News Section -->

                <div class="category_section design">
                    <div class="article_title header_blue">
                        <h2><a href="category.html" target="_self">Design</a></h2>
                    </div>
                    <!-- row -->

                    <div class="category_article_wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="category_article_body">
                                    <div class="top_article_img">
                                        <a href="single.html" target="_self">
                                            <img class="img-responsive" src="{% static 'assets/img/design_top1.jpg' %}"
                                                alt="feature-top">
                                        </a>
                                    </div>
                                    <!-- top_article_img -->

                                    <span class="tag blue"><a href="category.html" target="_self">Design</a></span>

                                    <div class="category_article_title">
                                        <h2><a href="single.html" target="_self">Marketing Tranportation
                                                Fast and </a></h2>
                                    </div>
                                    <!-- category_article_title -->

                                    <div class="category_article_date"><a href="#">10Aug- 2015</a>, by:
                                        <a href="#">Eric joan</a></div>
                                    <!----category_article_date------>
                                    <!-- category_article_date -->

                                    <div class="category_article_content">
                                        Collaboratively administrate empowered markets via plug-and-play
                                        networks.
                                    </div>
                                    <!-- category_article_content -->

                                    <div class="media_social">
                                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a>
                                            Shares</span>
                                        <span><i class="fa fa-comments-o"></i><a href="#">4</a>
                                            Comments</span>
                                    </div>
                                    <!-- media_social -->

                                </div>
                                <!-- category_article_body -->

                            </div>
                            <!-- col-md-6 -->

                            <div class="col-md-6">
                                <div class="category_article_body">
                                    <div class="top_article_img">
                                        <a href="single.html" target="_self">
                                            <img class="img-responsive" src="{% static 'assets/img/design_top2.jpg' %}"
                                                alt="feature-top">
                                        </a>
                                    </div>
                                    <!-- top_article_img -->

                                    <span class="tag blue"><a href="category.html" target="_self">Design</a></span>

                                    <div class="category_article_title">
                                        <h2><a href="single.html" target="_self">Theme Hippo launches
                                                Unship </a></h2>
                                    </div>
                                    <!-- category_article_title -->

                                    <div class="category_article_date"><a href="#">10Aug- 2015</a>, by:
                                        <a href="#">Eric joan</a></div>
                                    <!----category_article_date------>
                                    <!-- category_article_date -->

                                    <div class="category_article_content">
                                        Collaboratively administrate empowered markets via plug-and-play
                                        networks.
                                    </div>
                                    <!-- category_article_content -->

                                    <div class="media_social">
                                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a>
                                            Shares</span>
                                        <span><i class="fa fa-comments-o"></i><a href="#">4</a>
                                            Comments</span>
                                    </div>
                                    <!-- media_social -->

                                </div>
                                <!-- category_article_body -->

                            </div>
                            <!-- col-md-6 -->

                        </div>
                        <!-- row -->

                    </div>
                    <!-- category_article_wrapper -->

                    <div class="category_article_wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="category_article_body">
                                    <div class="top_article_img">
                                        <a href="single.html" target="_self">
                                            <img class="img-responsive" src="{% static 'assets/img/design_top3.jpg' %}"
                                                alt="feature-top">
                                        </a>
                                    </div>
                                    <!-- top_article_img -->

                                    <span class="tag blue"><a href="category.html" target="_self">Design</a></span>

                                    <div class="category_article_title">
                                        <h2><a href="single.html" target="_self">Huge Ultimate website
                                                builder </a></h2>
                                    </div>
                                    <!-- category_article_title -->

                                    <div class="category_article_date"><a href="#">10Aug- 2015</a>, by:
                                        <a href="#">Eric joan</a></div>
                                    <!----category_article_date------>
                                    <!-- category_article_date -->

                                    <div class="category_article_content">
                                        Collaboratively administrate empowered markets via plug-and-play
                                        networks.
                                    </div>
                                    <!-- category_article_content -->

                                    <div class="media_social">
                                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a>
                                            Shares</span>
                                        <span><i class="fa fa-comments-o"></i><a href="#">4</a>
                                            Comments</span>
                                    </div>
                                    <!-- media_social -->

                                </div>
                                <!-- category_article_body -->

                            </div>
                            <!-- col-md-6 -->

                            <div class="col-md-6">
                                <div class="category_article_body">
                                    <div class="top_article_img">
                                        <img class="img-responsive" src="{% static 'assets/img/design_top4.jpg' %}"
                                            alt="feature-top">
                                    </div>
                                    <!-- top_article_img -->

                                    <span class="tag blue"><a href="category.html" target="_self">Design</a></span>

                                    <div class="category_article_title">
                                        <h2><a href="single.html" target="_self">Just another theme
                                                xdesign</a></h2>
                                    </div>
                                    <!-- category_article_title -->

                                    <div class="category_article_date"><a href="#">10Aug- 2015</a>, by:
                                        <a href="#">Eric joan</a></div>
                                    <!-- category_article_date -->

                                    <div class="category_article_content">
                                        Collaboratively administrate empowered markets via plug-and-play
                                        networks.
                                    </div>
                                    <!-- category_article_content -->

                                    <div class="media_social">
                                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a>
                                            Shares</span>
                                        <span><i class="fa fa-comments-o"></i><a href="#">4</a>
                                            Comments</span>
                                    </div>
                                    <!-- media_social -->

                                </div>
                                <!-- category_article_body -->

                            </div>
                            <!-- top_article_img -->

                        </div>
                        <!-- top_article_img -->

                    </div>
                    <!-- top_article_img -->

                    <p class="divider"><a href="#">More News&nbsp;&raquo;</a></p>
                </div>
                <!-- Design News Section -->
            </div>
            <!-- Left Section -->

            {% include 'site/includes/_sidebar.html' %}
            <!-- Right Section -->

        </div>
        <!-- Row -->

    </div>
    <!-- Container -->

</section>
<!-- Category News Section -->

<section id="video_section" class="video_section">
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MJ-jbFdUPns"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                    <!-- embed-responsive -->

                </div>
                <!-- col-md-6 -->

                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h5Jni-vy_5M"></iframe>
                    </div>
                    <!-- embed-responsive -->

                    <div class="embed-responsive embed-responsive-4by3 m16">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wQ5Gj0UB_R8"></iframe>
                    </div>
                    <!-- embed-responsive -->

                </div>
                <!-- col-md-3 -->

                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UPvJXBI_3V4"></iframe>
                    </div>
                    <!-- embed-responsive -->

                    <div class="embed-responsive embed-responsive-4by3 m16">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DTCtj5Wz6BM"></iframe>
                    </div>
                    <!-- embed-responsive -->

                </div>
                <!-- col-md-3 -->

            </div>
            <!-- row -->

        </div>
        <!-- well -->

    </div>
    <!-- Container -->

</section>
<!-- Video News Section -->

{% endblock %}