{% load static %}

<section id="subscribe_section" class="subscribe_section">
    <div class="row">
        <form action="{% url 'subscriptionapp:create' %}" method="POST" class="form-horizontal" id="post-submit-ajax">
            {% csrf_token %}
            <div class="form-group form-group-lg">
                <label class="col-sm-6 control-label" for="formGroupInputLarge">
                    <h1><span class="red-color">Sign up</span> for the latest news</h1>
                </label>

                <div class="col-sm-3">
                    <input type="email" id="subscribe-email" name="email" class="form-control input-lg">
                </div>
                <div class="col-sm-1">
                    <input type="submit" value="Submit" class="btn btn-large pink">
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
    </div>
</section>
