{% load static %}

<!-- Scripts -->
<!-- jquery Core-->
<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Theme Menu -->
<script src="{% static 'assets/js/mobile-menu.js' %}"></script>

<!-- Owl carousel -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.c-share.js' %}"></script>

<!-- Theme Script -->
<script src="{% static 'assets/js/script.js' %}"></script>
<link href="{% static 'assets/css/toastr.css' %}" rel="stylesheet">
<script src="{% static 'assets/js/toastr.js' %}"></script>



