{% load static %}

<div class="col-md-4">
    <div class="widget">
        <div class="widget_title widget_black">
            <h2><a href="#">Popular News</a></h2>
        </div>
        {% for news in popular_news %}
        <div class="media">
            <div class="media-left">
                <a href="#"
                    ><img
                        class="media-object"
                        style="width: 100px; height: 100px"
                        src="{% if news.thumbnail_url %}  {{ news.thumbnail_url }} {% else %}{{ news.thumbnail.url }}{% endif %}"
                        alt="Generic placeholder image"
                /></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="{{ news.get_absolute_url }}" target="_self"
                        >{{ news.title }}</a
                    >
                </h3>
                <span class="media-date"
                    ><a href="#">{{ news.timestamp|date:"j M Y" }}</a>, by:
                    <a href="#">{{ news.author|title }}</a></span
                >

                <div class="widget_article_social">
                    <span>
                        <a href="single.html" target="_self">
                            <i class="fa fa-share-alt"></i>424</a
                        >
                        Shares
                    </span>
                    <span>
                        <a href="single.html" target="_self"
                            ><i class="fa fa-comments-o"></i>

                            {{news.post__id__count }}</a
                        >
                        Comments
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
        <p class="widget_divider">
            <a href="#" target="_self">More News&nbsp;&raquo;</a>
        </p>
    </div>
    <!-- Popular News -->

    <div class="widget hidden-xs m30">
        <img
            class="img-responsive adv_img"
            src="{% static 'assets/img/right_add1.jpg' %}"
            alt="add_one"
        />
        <img
            class="img-responsive adv_img"
            src="{% static 'assets/img/right_add2.jpg' %}"
            alt="add_one"
        />
        <img
            class="img-responsive adv_img"
            src="{% static 'assets/img/right_add3.jpg' %}"
            alt="add_one"
        />
        <img
            class="img-responsive adv_img"
            src="{% static 'assets/img/right_add4.jpg' %}"
            alt="add_one"
        />
    </div>
    <!-- Advertisement -->

    <div class="widget hidden-xs m30">
        <img
            class="img-responsive widget_img"
            src="{% static 'assets/img/right_add5.jpg' %}"
            alt="add_one"
        />
    </div>
    <!-- Advertisement -->

    <!-- <div class="widget reviews m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Reviews</a></h2>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="{% static 'assets/img/pop_right1.jpg' %}"
                        alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">DSLR is the most old camera at this time readmore
                        about new
                        products</a>
                </h3>
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </span>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="{% static 'assets/img/pop_right2.jpg' %}"
                        alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><a href="single.html" target="_self">Samsung is the best
                        mobile in the android market.</a></h3> <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </span>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="{% static 'assets/img/pop_right3.jpg' %}"
                        alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Apple launches photo-centric wrist watch for
                        Android</a>
                </h3>
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </span>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="{% static 'assets/img/pop_right4.jpg' %}"
                        alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Yasaki camera launches new generic hi-speed shutter
                        camera.</a>
                </h3>
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </span>
            </div>
        </div>
        <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p>
    </div> -->
    <!-- Reviews News -->

    <div class="widget hidden-xs m30">
        <img
            class="img-responsive widget_img"
            src="{% static 'assets/img/right_add6.jpg' %}"
            alt="add_one"
        />
    </div>
    <!-- Advertisement -->

    <div class="widget m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Most Commented</a></h2>
        </div>

        {% for post in most_commented %}
        <div class="media">
            <div class="media-left">
                <a href="#"
                    ><img
                        class="media-object"
                        style="width: 100px; height: 100px"
                        src="{% if post.thumbnail_url %}  {{ post.thumbnail_url }} {% else %}{{ post.thumbnail.url }}{% endif %}"
                        alt="Generic placeholder image"
                /></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a
                        href="{% url 'newspaper:single-post' post.slug %}"
                        target="_self"
                        >{{ post.title }}.</a
                    >
                </h3>

                <div class="media_social">
                    <span
                        ><i class="fa fa-comments-o"></i
                        ><a href="#">{{ post.post__id__count }}</a>
                        Comments</span
                    >
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&nbsp;&raquo; </a></p> -->
    </div>
    <!-- Most Commented News -->

    <!-- <div class="widget m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Editor Corner</a></h2>
        </div>
        <div class="widget_body"><img class="img-responsive left" src="{% static 'assets/img/editor.jpg' %}"
                alt="Generic placeholder image">

            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                procrastinate B2C
                users after installed base benefits. Dramatically visualize customer directed convergence
                without</p>

            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                procrastinate B2C
                users after installed base benefits. Dramatically visualize customer directed convergence
                without
                revolutionary ROI.</p>
            <button class="btn pink">Read more</button>
        </div>
    </div> -->
    <!-- Editor News -->

    <!-- <div class="widget hidden-xs m30">
        <img class="img-responsive add_img" src="{% static 'assets/img/right_add7.jpg' %}" alt="add_one">
        <img class="img-responsive add_img" src="{% static 'assets/img/right_add7.jpg' %}" alt="add_one">
        <img class="img-responsive add_img" src="{% static 'assets/img/right_add7.jpg' %}" alt="add_one">
        <img class="img-responsive add_img" src="{% static 'assets/img/right_add7.jpg' %}" alt="add_one">
    </div> -->
    <!--Advertisement -->

    <!-- <div class="widget m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Readers Corner</a></h2>
        </div>
        <div class="widget_body"><img class="img-responsive left" src="{% static 'assets/img/reader.jpg' %}"
                alt="Generic placeholder image">

            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                procrastinate B2C
                users after installed base benefits. Dramatically visualize customer directed convergence
                without</p>

            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                procrastinate B2C
                users after installed base benefits. Dramatically visualize customer directed convergence
                without
                revolutionary ROI.</p>
            <button class="btn pink">Read more</button>
        </div>
    </div>
     Readers Corner News -->

    <!-- <div class="widget hidden-xs m30">
        <img class="img-responsive widget_img" src="{% static 'assets/img/podcast.jpg' %}" alt="add_one">
    </div> -->
    <!--Advertisement-->
</div>
<!--Right Section-->
