{% load static %}

<div class="col-md-5">
    <div class="feature_static_wrapper">
        <div class="feature_article_img">
            <img class="img-responsive" src="{% static 'assets/img/feature-static1.jpg' %}" alt="feature-top">
        </div>
        <!-- feature_article_img -->

        <div class="feature_article_inner">
            <div class="tag_lg purple"><a href="category.html">Top Viewed</a></div>
            <div class="feature_article_title">
                <h1><a href="single.html" target="_self">Alcatel's $180 Idol 3 4.7 is a </a>
                </h1>
            </div>
            <!-- feature_article_title -->

            <div class="feature_article_date"><a href="#" target="_self">Stive Clark</a>,<a href="#" target="_self">Aug
                    4, 2015</a></div>
            <!-- feature_article_date -->

            <div class="feature_article_content">
                In a move to address mounting concerns about security on Android...
            </div>
            <!-- feature_article_content -->

            <div class="article_social">
                <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
            </div>
            <!-- article_social -->

        </div>
        <!-- feature_article_inner -->

    </div>
    <!-- feature_static_wrapper -->

</div>
<!-- col-md-5 -->

<div class="col-md-5">
    <div class="feature_static_last_wrapper">
        <div class="feature_article_img">
            <img class="img-responsive" src="{% static 'assets/img/feature-static2.jpg' %}" alt="feature-top">
        </div>
        <!-- feature_article_img -->

        <div class="feature_article_inner">
            <div class="tag_lg blue"><a href="category.html">Top Viewed</a></div>

            <div class="feature_article_title">
                <h1><a href="single.html" target="_self">Gadget user good news</a></h1>
            </div>
            <!-- feature_article_title -->

            <div class="feature_article_date"><a href="#" target="_self">Stive Clark</a>,<a href="#" target="_self">Aug
                    4, 2015</a></div>
            <!-- feature_article_date -->

            <div class="feature_article_content">
                In a move to address mounting concerns about security on Android...
            </div>
            <!-- feature_article_content -->

            <div class="article_social">
                <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
            </div>
            <!-- article_social -->

        </div>
        <!-- feature_article_inner -->

    </div>
    <!-- feature_static_wrapper -->

</div>